<h1>Editing Kitten</h1>

<%= render 'form' %>

<%= link_to 'Show', @kitten %> |
<%= link_to "Delete", kittens_path(@kitten), method: :delete, data: {confirm: "Are you sure?"} %> |
<%= link_to 'Back', kittens_path %>
